*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.logo-menu-section{
	width: 100%;
	height: 100px;
	background-color: #290000;
}

.multi-use-container{
	width: 1200px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

}
.logo{
	width: 250px;
	height: 50px;
	background: green;
	text-align: center;;
	color:white;
}
.menu-items{
	width: 650px;
	height: 50px;
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	justify-content: space-between;

}

.item{
	width: 100px
	height:25px;
	background-color: black;
	color: white;
}
.info-section{
	width: 100%;
	height: 500px;
	background-color: #290000
}
.eye-catcher-info{
	margin-top: 50px;
	width: 415px;
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: left;
	/*background: black;*/
}
.eye-catcher-header{
	width: 270px;
	height: 100px;
	color: white;
	text-align: left;
}
.eye-catcher-text{
	width: 340px;
	height: 90px;
	color:grey;
	text-align: left;
}
.eye-catcher-more{
	width: 165px;
	height: 40px;
	color:black;
	border-radius: 25px;
	text-align: center;
	background-color: cyan;
}
.circle{
	width: 515px;
	height: 470px;
	color: white;
	text-align: center;
	background-color: grey;
	line-height: 470px;
}
.service-section{
	width: 100%;
	height: 425px;
	background-color: #660000
}
.service-item{
	margin-top: 50px;
	width: 225px;
	height: 300px;
	background-color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.service-image{
	margin-top: 10px;
	width: 120px;
	height: 120px;
	background-color: #333333;
	text-align: center;
	line-height: 120px;
}
.service-title{
	width: 140px;
	height: 67px;
	color:#333333;
}
.service-text{
	width: 186px;
	height: 80px;
	color: #333333;
}
.work-section{
	width: 100%;
	height: 547px;
	background-color:  #660000
}
.work-container{
	width: 960px;
	height: 530px;
	margin: auto;
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.work-item{
	width: 300px;
	height: 200px;
	align-items: center;
}
.upper-box-item{
	width: 300px;
	height:150px;
	color:white;
	text-align: center;
	line-height: 160px;
	background-color: #333333;
}
.lower-box-item{
	width: 300px;
	hyphens: 50px;
	color:white;
	text-align: center;
	line-height: 50px;
	background-color: #151515;
}
.more-info-section{
	width: 100%;
	height: 380px;
	background-color: #333333;
}
.about-blog{
	margin-top: 20px; 
	width: 225px;
	height: 360px;
	color: grey;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.header-part{
	width: 225px;
	height: 40px;
	color: white;
}
.text-part{
	width: 225px;
	height: 255px;
	color: grey;
}
.info-box{
	width: 225px;
	height: 40px;
	border-radius: 20px;
	background-color: #222222;
	text-align:center;
}
.msg-box{
	width: 225px;
	height: 90px;
	border-radius: 20px;
	background-color: #222222;
	text-align:center;
}
.submit-box{
	width: 165px;
	height: 40px;
	color:black;
	border-radius: 25px;
	text-align: center;
	background-color: cyan;
}